@define-color bgcolor rgba(27,31,38,0.7);
@define-color selectcolor rgba(73,86,110,0.8);
@define-color urgentcolor rgba(0,153,153,0.8);

* {
  border: none;
  font-family: FiraCode Nerd Font, Material Icons, monospace;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.75);
  border-radius: 12px;
}

window {
  /*font-weight: bold;*/
}
window#waybar {
  background: rgba(0, 0, 0, 0);
}
/*-----module groups----*/
.modules-right {
  background-color: @bgcolor;
  margin: 2px 5px 0 0;
}
.modules-center {
  background-color: @bgcolor;
  margin: 2px 0 0 0;
}
.modules-left {
  margin: 2px 0 0 5px;
  background-color: @bgcolor;
}
/*-----modules indv----*/
#workspaces button {
  padding: 3px 10px;
  background-color: transparent;
}
/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  box-shadow: inherit;
  /* text-shadow: inherit; */
  background: @urgentcolor;
}
/* https://github.com/Alexays/Waybar/pull/1120 */
button:hover {
  box-shadow: inherit;
  /* text-shadow: inherit; */
  background: @urgentcolor;
}

#workspaces button.urgent {
  background-color: @urgentcolor;
}

#workspaces button.focused {
  background-color: @selectcolor;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#custom-power,
#custom-menu,
#idle_inhibitor {
  padding: 0 10px;
}
#mode {
  color: #cc3436;
  font-weight: bold;
}
#custom-power {
  background-color: rgba(0, 119, 179, 0.6);
  border-radius: 50px;
  margin: 5px 5px;
  padding: 1px 0 1px 5px;
}
#tray menu {
  background-color: @selectcolor;
}
/*-----Indicators----*/
#idle_inhibitor.activated {
  color: #2dcc36;
}
#pulseaudio.muted {
  color: #cc3436;
}
#battery.charging {
  color: #2dcc36;
}
#battery.warning:not(.charging) {
  color: #e6e600;
}
#battery.critical:not(.charging) {
  color: #cc3436;
}
#temperature.critical {
  color: #cc3436;
}
/*-----Colors----*/
/*
 *rgba(0,85,102,1),#005566 --> Indigo(dye)
 *rgba(0,43,51,1),#002B33 --> Dark Green 
 *rgba(0,153,153,1),#009999 --> Persian Green 
 *
 */
