[user]
	name = Cherrot Luo
	email = cherrot+github@cherrot.com
[github]
	user = cherrot
	token = 35d648bdc7f69daf738bdc17f0e9f7d6
[color]
	status = auto
	branch = auto
	ui = always
[core]
	autocrlf = input
	quotepath = false
	#gitproxy = /home/cherrot/bin/gitproxy
[credential]
	helper = cache
