[user]
	name = Cherrot Luo
	email = cherrotluo@gmail.com
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
        #conflictstyle = diff3
[core]
	ignorecase = false
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
