#!/bin/sh

#export LANG=zh_CN.UTF-8
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
# Wine need this:
export XMODIFIERS="@im=fcitx"

#enable fcitx for games built on libSDL
#however it does not work at all
export SDL_IM_MODULE=fcitx

#xrandr --setmonitor OverlayDisplay auto HDMI-0,DP-1
#xrandr --listmonitors > /tmp/xrand.output
xrandr --output HDMI-0 --scale 1.25x1.25
xset r rate 200 25
