[user]
	name = cherrot
	email = cherrotluo@gmail.com
	# https://stackoverflow.com/questions/11262010/shell-variable-expansion-in-git-config
	signingkey = ~/.ssh/id_ed25519.pub
[format]
	signOff = true
[core]
	autocrlf = input
	ignorecase = false
	quotepath = off
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[pull]
	ff = only
	rebase = true
[fetch]
	prune = true
[gpg]
	format = ssh
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[rerere]
	enabled = true
