[user]
	name = cherrot
	email = cherrotluo@gmail.com
	signingkey = 0373EEBB470E230F
[format]
	signOff = true
[core]
	autocrlf = input
	ignorecase = false
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[commit]
	gpgsign = true
[pull]
	ff = only
	rebase = true
