#!/bin/sh

#export LANG=zh_CN.UTF-8
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
# Wine need this:
export XMODIFIERS="@im=fcitx"

#enable fcitx for games built on libSDL
#however it does not work at all
export SDL_IM_MODULE=fcitx

#xrandr --setmonitor OverlayDisplay auto HDMI-0,DP-1
#xrandr --listmonitors > /tmp/xrand.output
xrandr --output HDMI-0 --scale 1.25x1.25
# xrandr --output HDMI-0 --mode 2560x1440

# HiDPI settings
export QT_AUTO_SCREEN_SCALE_FACTOR=1
# Comment the following 2 lines when switching to Gnome
export GDK_SCALE=2
export GDK_DPI_SCALE=0.5

# https://wiki.archlinux.org/index.php/GNOME/Keyring#Using_the_keyring_outside_GNOME
/usr/lib/polkit-gnome/polkit-gnome-authentication-agen
eval export $(gnome-keyring-daemon -s --components=pkcs11,secrets,ssh,gpg)
