[Unit]
Description=Set the Fn lock for LG laptop
After=multi-user.target
StartLimitBurst=0

[Service]
Type=oneshot
Restart=on-failure
ExecStart=/bin/bash -c 'echo 1 > /sys/devices/platform/lg-laptop/fn_lock'

[Install]
WantedBy=multi-user.target
